body{
    border-radius: 10px;
    height: 98%;
    width: 99%;
    position: absolute;
    background-image: url(./heart-493-bg.gif);
    background-position-x: -10%;
    background-position-y: -2%;
    background-repeat: repeat-x;
    background-color: rgb(239, 200, 206);
}

p{
    color: rgb(219, 86, 108);
    font-size: 50px;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    text-shadow: 0.1em 0.1em 0.07em #fff;
    font-family: georgia;
    font-weight: 500;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(239, 200, 206); /* Màu nền của thanh điều khiển audio */
}
  
audio::-webkit-media-controls-play-button {
    color: rgb(239, 200, 206); /* Màu của nút play */
}

audio::-webkit-media-controls-current-time-display {
    color: rgb(239, 200, 206); /* Màu của số giây hiện tại */
}

audio::-webkit-media-controls-time-remaining-display {
    color: rgb(239, 200, 206); /* Màu của số giây còn lại */
}

audio::-webkit-media-controls-mute-button {
    color: rgb(239, 200, 206); /* Màu của nút tắt tiếng */
}

audio::-webkit-media-controls-volume-slider {
    background-color: rgb(239, 200, 206); /* Màu của thanh trượt âm lượng */
}

audio {
    background-color: rgb(239, 200, 206); /* Màu nền */
  }